<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=yes">
    <style>

        body {
            margin: 0;
            padding: 0;
            font-size: 18px;
        }

        #container {
            text-align: center;
        }

        #container h1 {
            color: red;
        }
    </style>
</head>
<body>
<div id="container">
    <h1>Server error 500</h1>
    <p> A problem has been detected and the site is offline ! Sorry for any inconvenience caused. </p>
</div>
</body>
</html>
